.btn-1 {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

#side-image{
    height: 600px;
    float: right;
    margin-left: 300px;
    margin-bottom: 200px;
}

#mockup-image{
    position: absolute;
    height: 700px;
    float: right;
    margin-left: 400px;
}

.footer {
        height: 200px; 
        color: darkgray; 
        padding: 50px 120px;
        background-color: #2d314e;
      }
      .footer-logo {
      
        justify-content: center;
        margin: auto;
      }
      .footer-icons {
        padding: 40px 0 0 10px;
      }

      .copyright {
        padding-top: 10px;
        color: darkgray;
        text-align: right; 
        right: 0; 
        margin-right: 0;
  }

    .footer a {
      color: var(--paragraph);
      padding-bottom: 10px;
    }
    .footer a:hover {
      color: var(--paragraph);
      font-weight: bold;
    }

 